@model ParcialAncelmo.Models.Conteudo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhar notícias</h1>

<div>
    <h4>Conteudo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDeCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDeCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.texto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoConteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoConteudo.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar notícia</a> |
    <a asp-action="Index">Voltar a listagem de notícias</a>
</div>
