@model IEnumerable<ParcialAncelmo.Models.TipoConteudo>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipagem</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar tipo</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhar tipo</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Remover tipo</a>
            </td>
        </tr>
}
    </tbody>
</table>
