@model ParcialAncelmo.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}


<h3>Deseja deletar este cliete dos classificados?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataDeNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataDeNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a listagem de clientes nos classificados</a>
    </form>
</div>
